**/results/
**/k8s-infra/keys/*
**/k8s-infra/terraform/aks/.terraform/
**/k8s-infra/terraform/aks/*.tfstate
**/k8s-infra/terraform/aks/*.tfstate.*
**/k8s-infra/terraform/aks/*.tfplan
**/k8s-infra/terraform/aks/terraform.tfvars
**/k8s-infra/terraform/aks/*.auto.tfvars
**/k8s-infra/terraform/aks/crash.log
**/k8s-infra/terraform/aks/*-apply.log
**/k8s-infra/terraform/aks/*-apply.err.log
